@import "tailwindcss";
.experts-slider .slick-center .expert-item {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.expert-img img {
  object-fit: contain;
  
}




.auth-card {
  width: 100%;
  max-width: 480px;
  background: #fff;
  padding: 40px;
  border-radius: 20px;
}

.switch-pill {
  background: #f1f3f7;
  border-radius: 50px;
  display: flex;
  padding: 5px;
}

.switch-btn {
  flex: 1;
  border: none;
  background: transparent;
  padding: 10px;
  border-radius: 50px;
  font-weight: 500;
  transition: 0.3s;
}

.switch-btn.active {
  background: #4f46e5;
  color: #fff;
}

.password-toggle {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.divider {
  position: relative;
}

.divider span {
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

.divider::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #e5e7eb;
  z-index: 1;
}